{% extends 'base.html.twig' %}

{% block title %}Index des catégories{% endblock %}

{% block body %}
    <h1>Index des catégories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Noms</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <a class="btn btn-secondary btn-sm me-2" href="{{ path('back_category_show', {'id': category.id}) }}">voir</a>
                    <a class="btn btn-primary btn-sm me-2" href="{{ path('back_category_edit', {'id': category.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('back_category_new') }}">Créer une nouvelle catégorie</a>
{% endblock %}
