{% extends 'base.html.twig' %}

{% block title %}Promo{% endblock %}

{% block body %}
    <h1>Promo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ promo.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ promo.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('back_promo_index') }}">Retour à la liste</a>

    <a class="btn btn-primary btn-sm" href="{{ path('back_promo_edit', {'id': promo.id}) }}">éditer</a>

    {{ include('back/promo/_delete_form.html.twig') }}
{% endblock %}
