{% extends 'base.html.twig' %}

{% block title %}Edition d'un utilisateur : {{ user.firstname }} {{ user.lastname }}{% endblock %}

{% block body %}
    <h1>Edition d'un utilisateur' : {{user.firstname}} {{ user.lastname }}</h1>

  {{ include('back/user/_form.html.twig', {'button_label': 'Mise à jour'}) }}
<div class="d-flex justify-content-between mt-2">
    {{ include('back/user/_delete_form.html.twig') }}
    <a href="{{ path('back_user_index') }}">Retour à la liste</a>
</div>
{% endblock %}
