{% extends 'base.html.twig' %}

{% block title %}Produit - {{ product.name }}{% endblock %}

{% block body %}
    <h1>Produit - {{ product.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>MockupFront</th>
                <td><img src="{{ asset('uploads/images/' ~ product.mockupFront) }}" alt="" width="60px"></td>
            </tr>
            <tr>
                <th>MockupBack</th>
                <td><img src="{{ asset('uploads/images/' ~ product.mockupBack) }}" alt="" width="60px"></td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('uploads/images/' ~ product.image) }}" alt="" width="60px"></td>
            </tr>
            <tr>
                <th>Logo</th>
                <td><img src="{{ asset('uploads/images/' ~ product.logo) }}" alt="" width="60px"></td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ product.status }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ product.updatedAt ? product.updatedAt|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary btn-sm me-2" href="{{ path('back_product_edit', {'id': product.id}) }}">Editer</a>
    <div class="d-flex justify-content-between mt-2">
    
    {{ include('back/product/_delete_form.html.twig') }}

    <a href="{{ path('back_product_index') }}">Retour à la liste</a>

    </div>
{% endblock %}
