{% extends 'base.html.twig' %}

{% block title %}MainColor{% endblock %}

{% block body %}
    <h1>MainColor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ main_color.id }}</td>
            </tr>
            <tr>
                <th>MainHexa</th>
                <td>{{ main_color.mainHexa }}</td>
            </tr>
            <tr>
                <th>MainColorName</th>
                <td>{{ main_color.mainColorName }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ main_color.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('back_main_color_index') }}">back to list</a>

    <a href="{{ path('back_main_color_edit', {'id': main_color.id}) }}">edit</a>

    {{ include('back/main_color/_delete_form.html.twig') }}
{% endblock %}
